

div.button {
	display: block; /* makes anchor tags compatible with padding */
	background-color: #ffffff;
	

	color: #555555;
	padding: 5px 10px;
	text-decoration: none;
	
	margin-left: 10px;
	margin-right: 20px;
	
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;

	
	
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
/*	box-shadow: 5px 5px 0px #9e8d84;*/

}


div.button:hover {
}

div.button:active {


}


/* Icons */
div.icon-back  {


/*	display:inline-block;*/
/*	padding-top: 32px;*/
/*	padding-left: 32px;*/

	
	
}

div.icon-back::before  {

	content: "";
	position: relative;
	
	top: 0px;
	float:left;
	
	width: 16px;
	height: 16px;
	
	margin: 0 4px 0 -4px;
	
    background: url('../images/32x32-mono-icons/leftarrow32.png') ;
	background-size: 16px 16px;
	background-repeat:no-repeat;
    background-position:left center;
	

}


div.icon-search  {

/*	display:inline-block;*/
/*	padding-right: 32px;*/

}

div.icon-search::before  {

	content: "";
	position: relative;
	
	top: 0px;
	float: right;
	
	width: 16px;
	height: 16px;
	
	margin: 0 -4px 0 4px;
	
    background-image: url('../images/32x32-mono-icons/search32.png') ;
	background-size: 16px 16px;
	background-repeat: no-repeat;
    background-position: center center;
	

}

